*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height:100%;
    overflow: hidden;
}
ul,li{
    list-style: none;
}
#main{
    width: 640px;
    height: 960px;
    overflow: hidden;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin:top;
    transform-origin: top;
}
audio {
    display: none;
}

.music {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: url("../images/music.svg") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

.move {
    -webkit-animation: musicMove 1s linear infinite;
    animation: musicMove 1s linear infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#list{height: 100%}
#list li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
#list li.zIndex{
    z-index: 5;
}
#list li:nth-child(1){
    background-image:url(../images/aa1.jpg) ;
}
#list li:nth-child(2){
    background-image:url(../images/aa2.jpg) ;
}
#list li:nth-child(3){
    background-image:url(../images/aa3.jpg) ;
}
#list li:nth-child(4){
    background-image:url(../images/aa7.jpg);
}
#list li:nth-child(5){
    background-image:url(../images/aa9.jpg);
}
#list li:nth-child(6){
    background:url(../images/aa5.jpg);
}

@keyframes move5 {
    0%{
        transform: translateZ(0);
        transform-origin: center;
    }
    100%{
        transform: translateZ(100px);
        transform-origin: center;

    }
}
@keyframes move {
    0%{
        transform: rotateY(0deg);
        transform-origin: center;
    }
    100%{
        transform: rotateY(360deg);
        transform-origin: center;
    }
}
.a1{
    perspective: 800px;
    -webkit-perspective: 800px;
    height: 100%;
    width: 100%;
}
.a1 div:nth-child(1){
    margin-left: 200px;
    margin-top: 20%;
    width: 50px;
    height: 200px;
}
#a1 div:nth-child(1){

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: move5 3s;
    animation-fill-mode: none;

}
.a1 div:nth-child(1) img{
    height: 200px;
    width: 200px;
}
.a1 div:nth-child(2){
    display: block;
    margin-top: 150px;
    height: 200px;
    width: 100%;
    transform:scale(0.7);
}
.a1 div:nth-child(2) p{
    display: block;
    height: 100px;
    width: 640px;
    text-align: center;
    line-height: 100px;
    margin-top: 30px;
    font-size:50px;
    color: #666666;
    text-shadow: 2px 2px 3px 10px blue;
}

@keyframes move1 {
    0%{
        -webkit-transform: scale(1);

    }
    100%{
        -webkit-transform: scale(0.5);
    }
}
@keyframes move3{
    0%{
        -webkit-transform: rotateX(0deg);
     }
     100%{
         -webkit-transform: rotateX(360deg);
    }
}
@keyframes move2 {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
 #a1 div:nth-child(2) p:nth-child(1){
     animation: move 2s 2s 3,move1 2s 10s ease-in-out;
     -webkit-animation: move 2s 2s 3,move1 2s 10s ease-in-out;
}
 #a1 div:nth-child(2) p:nth-child(2){
     animation: move 2s 5s 3;
     -webkit-animation: move 2s 5s 3;
}
.a2{
    height: 100%;
    width: 100%;
    position: relative;
}
.a2 .b1{
       position: absolute;
       height: 460px;
       width: 460px;
       top: 40px;
       left: 90px;
       background: rgba(0, 0, 0, 0.8);
}
.b1{
    display: block;
    opacity: 0;
    transform: translate(0,-600px);
    -webkit-transform: translate(0,-600px);
}
#a2 .b1{
    opacity: 1;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transition: 2s;
    -webkit-transition: 2s;
}
.a2 .b2,.a2 .b3,.a2 .b4,.a2 .b5{
    height: 200px;
    width: 200px;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 5;

}
.a2 .b2{
    background: url("../images/1.jpg");
    top: 60px;
    left: 110px;
    transform: translate(-400px,0);
}
.a2 .b3{
    background: url("../images/2.jpg");
    top: 60px;
    left: 330px;
    transform: translate(400px,0);
}
.a2 .b4{
    background: url("../images/3.jpg");
    top: 280px;
    left: 110px;
    transform: translate(-600px,0);
}
.a2 .b5{
    background: url("../images/4.jpg");
    top: 280px;
    left: 330px;
    transform: translate(600px,0);
}
#a2 div:nth-child(2){
    -webkit-transform: translate(0,0);
    -webkit-transition: 1s 2s;
    -webkit-animation: move2 3s 7s;
    transform: translate(0,0);
    transition: 1s 2s;
    animation: move2 3s 7s;

}
#a2 div:nth-child(3){
    transform: translate(0,0);
    transition: 2s 4s;
    animation: move3 3s 7s;
    -webkit-transform: translate(0,0);
    -webkit-transition: 2s 4s;
    -webkit-animation: move3 3s 7s;

}
#a2 div:nth-child(4){
    transform: translate(0,0);
    transition:2s 4s;
    animation: move3 3s 7s;
    -webkit-transform: translate(0,0);
    -webkit-transition:2s 4s;
    -webkit-animation: move3 3s 7s;

}
#a2 div:nth-child(5){
    transform: translate(0,0);
    transition: 4s 2s;
    animation: move2 3s 7s;
    -webkit-transform: translate(0,0);
    -webkit-transition: 4s 2s;
    -webkit-animation: move2 3s 7s;
}
.b6{
    position: absolute;
    bottom: 10%;
    left: 10%;
    height: 160px;
    width: 500px;
    background: rgba(0, 0, 0, 0.70);
    transform: translate(0,500px);
    opacity: 0;
}
#a2 .b6{
    opacity: 1;
    transform: translate(0,0);
    transition: 2s;
    -webkit-transform: translate(0,0);
    -webkit-transition: 2s;

}
 .b6 p{
    width: 500px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    color: white;
}
.b6 p:nth-child(1){
    -webkit-transform: translate(700px,0);
    transform:translate(700px,0);

}
.b6 p:nth-child(2){
    -webkit-transform: translate(-700px,0);
    transform:translate(-700px,0);
}
#a2 .b6 p{

    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition:8s ease-out;
    transition:8s ease-out;
}
.a3 div{
    position: absolute;
    top: 40%;
    left:-40px;
    height: 100px;
    width: 400px;
    transform:rotateZ(-90deg);
    transform-origin: left center;
    transition:2s;
}
.a3 div p{
    word-wrap: break-word;
    word-break: normal;
    height: 100%;
    width: 100%;
    font-size: 60px;
    color: white;
    text-align: right;
}
#a3 div:nth-child(1){
    transform:rotateZ(20deg);
    transform-origin: left center;
    transition:2s;
    -webkit-transform:rotateZ(20deg);
    -webkit-transform-origin: left center;
    -webkit-transition:2s;
}
#a3 div:nth-child(2){
    transform: rotateZ(0deg);
    transform-origin: left center;
    transition: 2s 2s;
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: left center;
    -webkit-transition: 2s 2s;
}
#a3 div:nth-child(3) {
    transform: rotateZ(-20deg);
    transform-origin: left center;
    transition: 2s 4s;
    -webkit-transform: rotateZ(-20deg);
    -webkit-transform-origin: left center;
    -webkit-transition: 2s 4s;
}
#a3 div:nth-child(4){
    transform: rotateZ(-40deg);
    transform-origin: left center;
    transition: 2s 6s;
    -webkit-transform: rotateZ(-40deg);
    -webkit-transform-origin: left center;
    -webkit-transition: 2s 6s;
}
#a3 div:nth-child(5){
    transform: rotateZ(-60deg);
    transform-origin: left center;
    transition: 2s 8s;
    -webkit-transform: rotateZ(-60deg);
    -webkit-transform-origin: left center;
    -webkit-transition: 2s 8s;
}
.a3 p{
    position: absolute;
    bottom: 20%;
    right: 10%;
    height: 60px;
    width:300px;
    font-size: 50px;
    color: white;
    opacity: 0;
}
#a3 p{
    opacity: 1;
}
.d1{
    width: 450px;
    transform: translate(-500px,0);
}
#a4 .d1{
   transform: translate(0,0);
    transition: 2s 2s;
    -webkit-transform: translate(0,0);
    -webkit-transition: 2s 2s;
}
.d1 div{
    background: #000;
    height: 100px;
    line-height: 100px;
    width: 100%;
   margin:  40px 0 10px 0;

    font-size: 40px;
    color: white;
    text-align: center;
}
.d2{
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    transform: translate(500px,0);
}
#a4 .d2{
    transform: translate(0,0);
    transition: 2s;
    -webkit-transform: translate(0,0);
    -webkit-transition: 2s;
}
.d2 div{
    padding: 20px;
    margin: 20px 20px 0 0;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
    border: 1px solid black;

    background: #000;
    border-radius: 50%;

}
.d2 div img{
    height: 100%;
    width: 100%;
}
@keyframes move6 {
    0%{
        box-shadow: 0 0 0 0 #1124ff;
    }
    100%{
        box-shadow: 0 0 3px 10px #1124ff;
    }
}
#a4 .d2 div:nth-child(1){
    animation: move6 1s 0s infinite;
    -webkit-animation: move6 1s 0s infinite;
}
#a4 .d2 div:nth-child(2){
    animation: move6 1s 1s infinite;
    -webkit-animation: move6 1s 1s infinite;
}
#a4 .d2 div:nth-child(3){
    animation: move6 1s 2s infinite;
    -webkit-animation: move6 1s 2s infinite;
}
#a4 .d2 div:nth-child(4){
    animation: move6 1s 3s infinite;
    -webkit-animation: move6 1s 3s infinite;
}
.a4 span{
    position: absolute;
    bottom: 10%;
    left: 30%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: black;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 200px;
}
.a5 div{
   position: absolute;
}
.e1 {
    position: relative;
    padding-top: 30px;
    top: 50px;
    left: 60px;
    height: 800px;
    width: 500px;
    background: rgba(255, 255, 255, 0.61);
}
.e1 header{
    display:block;
    margin: 30px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    width: 440px;
    left: 40%;
    border-bottom: 1px solid #dadada;
}
.e1 header h1{
    font-size: 40px;
}
.e1 .e2{
    display: block;
    left: 25px;
    height: 200px;
    width: 440px;
    margin-left: 30px;

}
.e1 .e2 h2{
height: 30px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
}
.e1 .e2 p{
    height: 30px;
    width: 200px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.e1 .e3{
    display: block;
    width: 440px;
    margin-left: 30px;
}
.e1 .e3 h2{
    height: 30px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
}
.e1 .e3 p{
    display:block;
    margin-left: 5px;
    line-height: 30px;
    font-size: 20px;
}
.a5 div:nth-child(1){
    transform: translate(-700px,0);
}
.a5 div:nth-child(2){
    transform: translate(700px,0);
}
#a5 div{
    transform: translate(0,0);
    transition:3s;
    -webkit-transform: translate(0,0);
    -webkit-transition:3s;
}
#list li:nth-child(6){
    width: 100%;
    height: 100%;
    background-size:100% 100%;
    position: absolute;
    left: 0;
    top:0;
    perspective: 800px;
    -webkit-perspective: 800px;
    cursor: pointer;
}
.a6{
    width:510px;
    height: 510px;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -255px;
    margin-left: -255px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform-origin: 255px 255px -255px;

    opacity: 0;
}
.a6 div{
    width:510px;
    height: 510px;
    left:0;
    top:0;
    position: absolute;
    font-size: 200px;
    color: white;
    line-height: 510px;
    text-align: center;
}

.a6 div:nth-child(1){
    background: rgba(0, 0, 0, 0.9);
    left: -510px;
    transform-origin: right;
    transform: rotateY(-90deg);
    -webkit-transform-origin: right;
    -webkit-transform: rotateY(-90deg);
}
.a6 div:nth-child(3){
    background: rgba(0, 0, 0, 0.9);
    left: 510px;
    transform-origin: left;
    transform: rotateY(90deg);
    -webkit-transform-origin: left;
    -webkit-transform: rotateY(90deg);
}
.a6 div:nth-child(2){
    background: rgba(0, 0, 0, 0.9);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.a6 div:nth-child(4){
    background: rgba(0, 0, 0, 0.9);
    transform: translateZ(-510px) rotateY(-180deg);
    -webkit-transform: translateZ(-510px) rotateY(-180deg);
}
#a6{
    opacity: 1;
    transform:scale(0.5) rotateX(0deg) rotateY(-3600deg) rotateZ(0deg);
    transition:-webkit-transform 40s,opacity 1s;
    -webkit-transform:scale(0.5) rotateX(0deg) rotateY(-3600deg) rotateZ(0deg);
    -webkit-transition:-webkit-transform 40s,opacity 1s;
}
